html, body {
	margin:0;
	padding:0;
}
body{
	position:relative;
}
.navigation{
	position:absolute; top:115px; left:150px;
}

.thumbs noscript li a{
	color: #27D;
	text-decoration: none;
}
.thumbs noscript li a:focus, .thumbs noscript li a:hover, .thumbs noscript li a:active {
	text-decoration: underline;
}
.thumbs noscript li {
	line-height: 1.8em;
}

pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}


div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
}
